hola
<section class="educacion">
  <h3 class="text-center">Educacion</h3>
  <hr />


  <div id="trabajo1" class="d-grid gap-3 ms-1">
    <ul class="list-group">
      <li class="list-group-item bg-light border">
      <div>{{ edu!.institucion }}</div>
      </li>
      <li class="list-group-item bg-light border">
        <div>{{ edu!.titulo }}</div>
      </li>
      <li class="list-group-item bg-light border">
        <div>{{ edu!.estado_estudio }}</div>
      </li>
    </ul>
  </div>
</section>
