<div class="g-dark mb-3 ">
  
  <h4 class="card-title text-center">Formacion Academica</h4>
  <div class="container shadow p-3 mb-5 bg-body rounded">
    <!-- Button para Agregar Educacion -->
    <div class="text-center">
      <button *ngIf="isAdmin" type="button" class="btn btn-primary" data-toggle="modal" routerLink="educacion/nuevo">
        Agregar Educación
      </button>
    </div>


    <div class="card-body">
      <div *ngFor="let Educacion of educaciones" class="row p-2 m-2 border shadow p-3 mb-5 bg-body rounded">
        <div class="col-2">
          <img  class=" img-thumbnail " src="{{Educacion.urlImagen}}">

        </div>
        <div class="col-10 ">

          <h3>{{Educacion.titulo}}</h3>
          
          <h5 class="card-text border-bottom">{{Educacion.institucion}}</h5>
          <div class="card-text border-bottom"><span>Pais: </span>{{Educacion.pais}}</div> 
          <div class="card-text border-bottom"><span>Area de Estudio: </span>{{Educacion.area_estudio}}</div>
          <div class="card-text border-bottom"><span>Estado: </span>{{Educacion.estado_estudio}}</div>
          <div class="card-text border-bottom"><span>Tipo de estudio: </span>{{Educacion.tipo_estudio}}</div>
          <span class="card-text text-secondary" type="date" pattern="\d{4}-\d{2}-\d{2}">({{Educacion.fecha_inicio}} - {{Educacion.fecha_finalizacion}})</span>
        </div>
        <div class="col">
          <!--Boton editar forma de Lapiz - Solo aparece si esta logueado-->
         <div class="flex-row align-items-center"> <button *ngIf="isAdmin" type="button" class="btn" aria-label="Editar" data-toggle="tooltip" data-placement="right" title="Editar"
            routerLink="educacion/editar/{{Educacion.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        
          <!--Boton eliminar forma de tacho de basura - Solo aparece si esta logueado-->
        <button *ngIf="isAdmin" type="button" class="btn text" aria-label="Eliminar" data-toggle="tooltip" data-placement="right" title="Eliminar"
            (click)="eliminarEducacion(Educacion.id)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
          

        </div>
      </div>
    </div>
  </div>
</div>