<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onCreate()" [formGroup]="nuevoForm" novalidate #f="ngForm">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" name="titulo" class="form-control" id="titulo" formControlName="titulo" required />
        </div>      
        <div class="form-group">
          <label for="pais">Pais</label>
          <input type="text" name="pais" class="form-control" id="pais" formControlName="pais" required />
        </div>
        <div class="form-group">
          <label for="tipo_estudio">Tipo estudio</label>
          <input type="text" name="tipo_estudio" class="form-control" id="tipo_estudio" formControlName="tipo_estudio"
            required />
        </div>
        <div class="form-group">
          <label for="area_estudio">Area estudio</label>
          <input type="text" name="area_estudio" class="form-control" id="area_estudio" formControlName="area_estudio"
            required />
        </div>
        <div class="form-group">
          <label for="institucion">Institucion</label>
          <input type="text" name="institucion" class="form-control" id="institucion" formControlName="institucion"
            required />
        </div>
        <div class="form-group">
          <label for="estado_estudio">Estado estudio</label>
          <input type="text" name="estado_estudio" class="form-control" id="estado_estudio" formControlName="estado_estudio"
            required />
        </div>
        <div class="form-group">
          <label for="fecha_inicio">Fecha inicio</label>
          <input type="date" pattern="\d{4}-\d{2}-\d{2}"  name="fecha_inicio" class="form-control" id="fecha_inicio" formControlName="fecha_inicio"
            required />
        </div>
        <div class="form-group">
          <label for="fecha_finalizacion">Fecha finalizacion</label>
          <input type="date" pattern="\d{4}-\d{2}-\d{2}" name="fecha_finalizacion" class="form-control" id="fecha_finalizacion"
            formControlName="fecha_finalizacion" required />
        </div>
        <div class="form-group">
          <label for="urlImagen">urlImagen</label>
          <input type="text" name="urlImagen" class="form-control" id="urlImagen"
            formControlName="urlImagen"  />
        </div>

        <div class="form-group text-left">
          <button type="submit"class="btn btn-outline-success btn-block mt-3" [disabled]="!f.valid">
            <i class="fas fa-plus-circle"></i> Agregar
          </button>
          <button type="button" class="btn btn-outline-primary btn-block mt-3" routerLink="/educacion">
            <i class="fas fa-arrow-alt-circle-left"></i> Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>