#navegacion {
    background: -webkit-gradient(linear, left top, right top, from(black), to(grey));
    background: linear-gradient(to right, black, grey);
  }
  
  #face {
    margin-right: 2%;
    -webkit-transition: -webkit-transform 1.0s;
    transition: -webkit-transform 1.0s;
    transition: transform 1.0s;
    transition: transform 1.0s, -webkit-transform 1.0s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  #face:hover {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  
  #insta {
    margin-right: 2%;
  }
  
  #whats {
    margin-right: 2%;
  }
  
  #login {
    margin-right: 2%;
  }

  #logout {
    margin-right: 2%;
  }

  
  /*#logo:hover {
    background-color: transparent;
    position: relative;
    -webkit-animation-name: movimiento;
            animation-name: movimiento;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }*/
  
  @-webkit-keyframes movimiento {
    0% {
      background-color: transparent;
      left: 0px;
      top: 0px;
    }
    50% {
      background-color: transparent;
      left: 50px;
      top: 0px;
    }
    100% {
      background-color: transparent;
      left: 0px;
      top: 0px;
    }
  }
  
  @keyframes movimiento {
    0% {
      background-color: transparent;
      left: 0px;
      top: 0px;
    }
    50% {
      background-color: transparent;
      left: 50px;
      top: 0px;
    }
    100% {
      background-color: transparent;
      left: 0px;
      top: 0px;
    }
  }
  
 