<div id="navegacion" class="container-fluid">
  <div class="row">
    <div class="col text-start">
      <a
        href="https://argentinaprograma.inti.gob.ar"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          id="logo"
          src="../../../assets/Image/APLogo-20-20.png"
          alt="logo"
          width="110"
          height="70"
        />
        <img
          id="LogosInti"
          src="../../../assets/Image/LogosInti.png"
          alt="logo"
          width=""
          height="70"
        />
      </a>
    </div>

    <div class="col text-end align-self-center">
      <div>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          *ngIf="isLogged"
        >
          <img
          *ngIf="isLogged"
            src="./assets/Icons/facebook-square-brands.svg"
            id="face"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Facebook"
            alt="face"
            height="30"
          />
        </a>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          *ngIf="isLogged"
        >
          <img
          *ngIf="isLogged"
            src="./assets/Icons/instagram-brands.svg"
            id="insta"
            class="animate__animated"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Instagram"
            alt="ins"
            height="30"
          />
        </a>
        <a
          *ngIf="isLogged"
          href="https://api.whatsapp.com/send?phone=541135957998&text=Me%20gustaría%20poder%20contactarme%20con%20vos!"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
          *ngIf="isLogged"
            src="./assets/Icons/whatsapp-brands.svg"
            id="whats"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Whatsapp"
            alt="whats"
            height="30"
        /></a>
        <a routerLink="/login" *ngIf="!isLogged">
          <img
            src="./assets/Icons/arrow-right-to-bracket-solid.svg"
            id="login"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Log in"
            alt="login"
            height="30"
            *ngIf="!isLogged"
        /></a>

        <a  *ngIf="isLogged" (click)="onLogOut()" style="cursor: pointer;" type="reset">
          <img
            src="./assets/Icons/arrow-right-from-bracket-solid.svg"
            id="logout"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Log Out"
            alt="logout"
            height="30"
            *ngIf="isLogged"
          />
        </a>
      </div>
    </div>
  </div>
</div>
