<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" [formGroup]="nuevoForm" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <input type="text" name="empresa" class="form-control" id="empresa"
                        formControlName="empresa"  required />
                </div>
                <div class="form-group">
                    <label for="actividad_empresa">actividad_empresa</label>
                    <input type="text" name="actividad_empresa" class="form-control" id="actividad_empresa"
                       formControlName="actividad_empresa"  required />
                </div>
                <div class="form-group">
                    <label for="puesto">puesto</label>
                    <input type="text" name="puesto" class="form-control" id="puesto"
                        formControlName="puesto"  required />
                </div>
                <div class="form-group">
                    <label for="nivel_experiencia">nivel_experiencia</label>
                    <input type="text" name="nivel_experiencia" class="form-control" id="nivel_experiencia"
                        formControlName="nivel_experiencia"  required />
                </div>
                <div class="form-group">
                    <label for="area_puesto">area_puesto</label>
                    <input type="text" name="area_puesto" class="form-control" id="area_puesto"
                     formControlName="area_puesto"  required />
                </div>
                <div class="form-group">
                    <label for="pais">pais</label>
                    <input type="text" name="pais" class="form-control" id="pais" formControlName="pais"
                        required />
                </div>
                <div class="form-group">
                    <label for="fecha_inicio">fecha_inicio</label>
                    <input type="date" name="fecha_inicio" class="form-control" id="fecha_inicio"
                    formControlName="fecha_inicio"  required />
                </div>
                <div class="form-group">
                    <label for="fecha_finalizacion">fecha_finalizacion</label>
                    <input type="date" name="fecha_finalizacion" class="form-control" id="fecha_finalizacion"
                     formControlName="fecha_finalizacion"  required />
                </div>
                <div class="form-group">
                    <label for="descripcion_tarea">descripcion_tarea</label>
                    <input type="text" name="descripcion_tarea" class="form-control" id="descripcion_tarea"
                      formControlName="descripcion_tarea" required />
                </div>
                <div class="form-group">
                    <label for="personas_cargo">personas_cargo</label>
                    <input type="text" name="personas_cargo" class="form-control" id="personas_cargo"
                       formControlName="personas_cargo" required />
                </div>
                <div class="form-group">
                    <label for="urlImagen">urlImagen</label>
                    <input type="text" name="urlImagen" class="form-control" id="urlImagen"
                       formControlName="urlImagen"  />
                </div>


                <div class="form-group text-left">
                    <button type="submit" class="btn btn-outline-success btn-block mt-3" [disabled]="!f.valid">
                        <i class="fas fa-plus-circle"></i> Agregar
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-block mt-3" routerLink="/educacion">
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>