<div class="container" *ngIf="persona">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="nombre" name="nombre" class="form-control" id="nombre"
                        [(ngModel)]="persona.nombre" required />
                </div>
                <div class="form-group">
                    <label for="apellido">apellido</label>
                    <input type="text" name="apellido" class="form-control" id="apellido"
                        [(ngModel)]="persona.apellido" required />
                </div>
                <div class="form-group">
                    <label for="fecha_nac">fecha nac</label>
                    <input type="date" name="fecha_nac" class="form-control" id="fecha_nac"
                        [(ngModel)]="persona.fecha_nac" required />
                </div>
                <div class="form-group">
                    <label for="profesion">profesion</label>
                    <input type="text" name="profesion" class="form-control" id="profesion"
                        [(ngModel)]="persona.profesion" required />
                </div>
                <div class="form-group">
                    <label for="acercaDe">acercaDe</label>
                    <input type="text" name="acercaDe" class="form-control" id="acercaDe"
                        [(ngModel)]="persona.acercaDe" required />
                </div>
                <div class="form-group">
                    <label for="url_foto">url_foto</label>
                    <input type="text" name="url_foto" class="form-control" id="url_foto" [(ngModel)]="persona.url_foto"
                        required />
                </div>
                <div class="form-group">
                    <label for="nacionalidad">nacionalidad</label>
                    <input type="text" name="nacionalidad" class="form-control" id="nacionalidad"
                        [(ngModel)]="persona.nacionalidad" required />
                </div>
                <div class="form-group">
                    <label for="genero">genero</label>
                    <input type="text" name="genero" class="form-control" id="genero"
                        [(ngModel)]="persona.genero" required />
                </div>
                <div class="form-group">
                    <label for="estado_civil">Estado civil</label>
                    <input type="text" name="estado_civil" class="form-control" id="estado_civil"
                        [(ngModel)]="persona.estado_civil" required />
                </div>
                <div class="form-group">
                    <label for="dni">dni</label>
                    <input type="text" name="dni" class="form-control" id="dni"
                        [(ngModel)]="persona.dni" required />
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" name="email" class="form-control" id="email"
                        [(ngModel)]="persona.email" required />
                </div>
                <div class="form-group">
                    <label for="cel">cel</label>
                    <input type="text" name="cel" class="form-control" id="cel"
                        [(ngModel)]="persona.cel" required />
                </div>



                <button type="submit" class="btn btn-outline-success btn-block"
                    [disabled]="!f.valid">Actualizar</button>
            </form>

        </div>
    </div>
</div>