
<app-menu></app-menu>

<body>
  <section id="banner" class="container-fluid">
    <div id="saludo">
      <h1 id="nombre">Hola! Soy Pablo.</h1>
      <h2 id="profesion">Soy Full-Stack Web Developer Jr!</h2>
    </div>
  </section>

  <section class="container-fluid row">

    <div id="imagen-about" class="col-6">
      <img src="./assets/Image/1567108493690 (1).jfif" id="fotomia" class="img-thumbnail" alt="">
    </div>
    <div id="about" class="col-6 justify-content-center align-content-center">
      <p> ipsum dolor sit, amet consectetur adipisicing elit. Saepe commodi odio labore voluptas deserunt quas a autem
        consequatur optio maxime eligendi hic error magnam, iste veritatis illo, esse eveniet sequi!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam sint velit tenetur quis commodi earum
        consectetur repudiandae. Earum minima corrupti ut quasi, quisquam nemo, iusto nesciunt sed magni, dolore
        distinctio!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis rem quos rerum eius, laudantium,
        corporis debitis iusto veritatis atque illum nisi asperiores fugit! Exercitationem incidunt voluptas beatae
        perspiciatis doloribus rerum?</p>

    </div>
  
  </section>
  <hr>
  <section class="trabajo d-grid gap-3 ms-1">
    <h3 class="text-center ">Experiencia Laboral</h3>
  <hr>

  <div id="trabajo1" class="">
      <ul class=" list-group">

        <li class="list-group-item">
      <h4 class="">Administrativo de Farmacia</h4></li>
    
        <li class="list-group-item">
          Omint S.A - Clinica Bazterrica
        </li>
        <li class="list-group-item">
          Oct 2015 - Actualidad
        </li>
      </ul>
        
        <span class="ps-4 list-group-item justify-content-start">
          <ul>
          <li class="list-group-flush">Activación de ordenes de compra. </li>
          <li class="list-group-flush">Control de stock, vencimientos y rotación de productos. </li>
          <li class="list-group-flush">Programación de entregas a los distintos proveedores.</li>
          <li class="list-group-flush">Reclamos a proveedores y a sector de compras.</li>
          <li class="list-group-flush">Atencion a reclamos del sector de cuentas a pagar.</li>
          <li class="list-group-flush">Organización de inventarios.</li>
          <li class="list-group-flush">Trazabilidad de medicación.</li>
          <li class="list-group-flush">Atención a pacientes y visitadores médicos.</li>
          <li class="list-group-flush">Dispensación de medicación y productos médicos.</li>
          <li class="list-group-flush">Preparación de pedidos urgentes y carro de 24 hs cuando el servicio lo requiere
            ya que no es mí actividad
            principal.</li>
        </ul>    
        </span>
        
      
      
    </div>


  </section>
<hr>
 
<app-educacion></app-educacion>

</body>